/**
Encabezado del proyecto
**/
.encabezado{
    padding: 5px 5px 5px 5px;
    border: 1px solid #000000;    
    background-color: #d1cfcb;
    overflow: auto;
}
#textoencabezado {
    color: black;
    font-size: 70px;
    font-weight: bold;
    display:flex;
    justify-content: center;
    align-items: center;    
}    
/**
Cuerpo Completo
**/
body{
    background-color: #155e63;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Alata', sans-serif;
}

.seccion-oscura {
    color: #f9f8eb;
    background-color: #155e63;
}

.seccion-clara {
    color: #155e63;
    background-color: #f9f8eb;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Alata', sans-serif;
}

.seccion-texto {
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
}

/** Columnas **/
.columnas {
    padding: 5px 40px 60px 5px;
}

.columnas .columna {
    padding: 20px;
    border: 2px solid #1e868d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.columnas .columna:hover {
    color: #f9f8eb;
    background-color: #1e868d;
}

.columnas i {
    font-size: 2.5rem;
    color: #5ae4a7;
    background-color: #155e63;
    padding: 8px 19px;
    border-radius: 50%;
}

.columnas-titulo {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.badge {
    margin: 5px;
}