/**Encabezado del proyecto**/
.encabezado{
    padding: 5px 5px 5px 5px;
    background-color: #d1cfcb;
    overflow: auto;
}
.textoencabezado {
    color: black;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}    
/**Seccion de Datos Personales, Sobre Mi y Educacion**/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.seccion-oscura {
    color: #f9f8eb;
    background-color: #155e63;
}
.seccion-clara {
    color: #070707;
    background-color: #d1cfcb;
}
.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Alata', sans-serif;
}
.seccion-texto {
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
}
/** Columnas **/
.columnas {
    padding: 5px 5px 5px 5px;
}
.columnas .columna {
    padding: 20px;
    border: 2px solid #1e868d;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}
.columnas .columna:hover {
    color: #f9f8eb;
    background-color: #1e868d;
}
.columnas i {
    font-size: 2.5rem;
    color: #5ae4a7;
    background-color: #155e63;
    padding: 8px 19px;
    border-radius: 50%;
}
.columnas-titulo {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0;
}
.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.badge {
    margin: 5px;
}
/* Fondo ventana: negro con opacidad al 50% */
.ventana {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 200px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5); 
}
/* Ventana */
.contenido-vent {
    position: relative; 
    background-color: #d1cfcb;
    margin: auto; 
    padding: 20px;
    width: 60%;
    animation-name: animarsuperior;
    animation-duration: 0.5s;
    text-align: left;
}
  
/* Animación */
@keyframes animarsuperior {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* Botónes de cerrar */
.cerrarExp {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.cerrarExp:hover,
.cerrarExp:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.cerrarRef {
    color: black;
    float: right;
    font-size: 30px;
    font-weight: bold;
}
.cerrarRef:hover,
.cerrarRef:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/* Seccion de las Exp y Ref */
.experienciaYreferencias {
    padding: 25px 5px 5px 5px;
    background-color: #d1cfcb;
    overflow: auto;
    text-align: center;
}
.boton {
    background:#d1cfcb;
    font-weight: bold;
}
.boton:hover,
.boton:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Pie de Pagina*/
#piepagina {
    padding-top: 50px;
    font-weight: bold;
    font-family: "Brush Script MT", "Lucida Handwriting", Cursive;
    text-align: right;
}